
.card {
    margin: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }

.container {
    padding: 12px
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    width: 60px;
}

.btn {
    border: 0;
    width: 16px;
    height: 16px;
}

.btn:hover {
    cursor: pointer;
}